@import url("./reset.css");

body {
  background-image: url("../img/背景圖2/sayagata-400px.png");
  a {
    text-decoration: none;
    display: block;
  }
}

/*---------------- main ----------------*/
.main {
}

.main ul {
  display: flex;
  flex-direction: column;
}

.main li {
  width: 100%;
  height: 660px;
  position: relative;
  overflow: hidden;
}

.block-a {
  position: absolute;
  width: 100%;
  height: 660px;
  top: 0;
  z-index: 80;
}

.main li h2 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 120px;
  left: 120px;
  width: 60px;
  text-align: center;
  line-height: 1.05;
}

.main li h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 200px;
  left: 340px;
  text-align: center;
  line-height: 1.05;
  font-style: italic;
}

.main li p {
  font-size: 28px;
  color: white;
  position: absolute;
  top: 400px;
  left: 340px;
  line-height: 1.2;
}

.main li pre {
  font-size: 28px;
  color: white;
  position: absolute;
  top: 400px;
  left: 340px;
  line-height: 1.2;
}

.main li .block-p {
  top: 266px;
  left: 350px;
  font-size: 33px;
  font-style: italic;
}

.block-line {
  position: absolute;
  width: 160px;
  height: 100%;
  right: 14vw;

  background-image: url("../img/五圖/AK.png");
  background-size: 100% 100%;
}

.block-1 {
  background-image: url("../img/前端作業/海拉魯圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-1 h2 {
  background-color: #05973f;
}

.block-1 .block-1-h2 {
  left: 200px;
  top: 140px;
}

.block-2 {
  background-image: url("../img/前端作業/阿卡萊圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-2 h2 {
  background-color: #b52222;
}

.block-2 .block-2-h2 {
  left: 200px;
  top: 140px;
}

.block-3 {
  background-image: url("../img/前端作業/拉攝爾圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-3 h2 {
  background-color: #359ab0;
}

.block-3 .block-3-h2 {
  left: 200px;
  top: 140px;
}

.block-4 {
  background-image: url("../img/前端作業/格魯德圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-4 h2 {
  background-color: #b4ab58;
}

.block-4 .block-4-h2 {
  left: 200px;
  top: 140px;
}

.block-5 {
  background-image: url("../img/前端作業/海布拉圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-5 h2 {
  background-color: #4b74c4;
}

.block-5 .block-5-h2 {
  left: 200px;
  top: 140px;
}

.block-6 {
  background-image: url("../img/前端作業/奧爾汀圖.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-6 h2 {
  background-color: #c16918;
}

.block-6 .block-6-h2 {
  left: 200px;
  top: 140px;
}

/* 區域特效 */

.do {
  position: absolute;
  display: none;
}

.a1 {
  animation: down 10s linear infinite;
}

.a2 {
  right: 1vw;
  animation: down 8s -5s linear infinite;
}

.a3 {
  right: 10vw;
  animation: down 8s -8s linear infinite;
}

.a4 {
  right: 46vw;
  animation: down 10s -2s linear infinite;
  filter: blur(2px);
}

.a5 {
  left: 22vw;
  animation: down 7.3s -3.5s linear infinite;
}
.a6 {
  left: 14vw;
  animation: down 6s -8s linear infinite;
  filter: blur(2px);
}

.a7 {
  right: 16vw;
  animation: down 9s -4s linear infinite;
  filter: blur(3px);
}

.downs2 {
  position: absolute;
  display: none;
}

.b1 {
  animation: up 20s linear infinite;
  bottom: 0;
  right: 9vw;
  filter: blur(1px);
}

.b2 {
  animation: move 22s linear infinite;
  top: 7vw;
  filter: blur(1px);
}
.b3 {
  animation: move 26s linear infinite;
  bottom: 4vw;
  right: 10vw;
  filter: blur(2px);
}

.b4 {
  animation: move 36s -8s linear infinite;
  bottom: 9vw;
  right: 10vw;
  filter: blur(2px);
}
.b5 {
  animation: move 29s -10s linear infinite;
  top: 1vw;

  filter: blur(2px);
}
/* .downs2 {
  position: absolute;

  display: none;
} */

/* .b1 {
  animation: down2 10s linear infinite alternate;
  filter: blur(1.5px);
  bottom: -3.2vw;
  left: -1vw;
}

.b2 {
  animation: down2 9s -4s linear infinite alternate;
  filter: blur(1.5px);
  bottom: -3vw;
  right: -2vw;
}
.b3 {
  animation: down2 12s linear infinite alternate;
  bottom: -1.2vw;
  right: 50vw;
} */
@keyframes down {
  0% {
    top: -10%;

    transform: translate(30px) rotate(0deg);
  }

  10% {
    transform: translate(10px) rotate(20deg);
  }

  25% {
    transform: translate(10px) rotate(40deg);
  }

  50% {
    transform: translate(30px) rotate(62deg);
  }
  75% {
    transform: translate(10px) rotate(84deg);
  }

  90% {
    transform: translate(10px) rotate(106deg);
  }

  100% {
    top: 110%;

    transform: translate(30px) rotate(120deg);
  }
}
/* 
@keyframes down2 {
  0% {
    transform: translate(10px) rotate(0deg);
  }



  100% {
    transform: translate(30px) rotate(6deg);
  }
} */

@keyframes up {
  0% {
    bottom: -5%;
    transform: translate(0px);
  }

  43% {
    transform: translate(-30vw);
  }

  /* 54% {
    transform: translate(-24vw);
  } */

  100% {
    bottom: 110%;
    transform: translate(-63vw);
  }
}

@keyframes move {
  0% {
    left: -10%;
  }

  30% {
    transform: translateY(-1vw);
  }

  52% {
    transform: translateY(4vw);
  }

  100% {
    left: 110%;
  }
}

/* hover */
.main li:hover .do {
  display: block;
}

.main li:hover .downs2 {
  display: block;
}

/* ---底部nav--- */
.nav-b {
  height: 60px;
}

.nav-be {
  height: 80px;
}

.bot-n {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.bot-n ul {
  display: flex;
  box-shadow: 1px 1px 3px;
}

.bot-n ul li:nth-child(3) a {
  border-bottom: 3px solid red;
}

.bot-n ul li:nth-child(3) div {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

.bot-n ul li:nth-child(3) a h3 {
  color: red;
}

.bot-n li {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(126, 126, 126);
  position: relative;
}

.nav {
  flex-grow: 1;
}

.bot-n-label {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 42px;
  background-image: url("../icon/angles-right-solid-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav a {
  font-size: 18px;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 59px;
  line-height: 59px;
}

.nav h3 {
  color: black;
  height: 59px;
}

.logo {
  /* background-image: url("../img/前端作業/new2-removebg-preview.png"); */
  background-repeat: no-repeat;
  width: 100px;
  flex-grow: 1.1;
}

.logo a {
  width: 100px;
}

.img-logo {
  width: 90px;
  height: 59px;
  padding-left: 30px;
}

/* hover */
.nav:hover h3 {
  color: red;
  font-weight: bold;
}

.bot-n li:hover .bot-n-label {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

/*---------------- footer ----------------*/
.footer {
  height: 136px;
  /* margin-top: 60px; */
  background-color: rgb(154, 154, 154);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer p {
  color: white;
  line-height: 1.1;
}

.footer ul {
  display: flex;
}

.f-logo {
  background-image: url("../img/前端作業/new2-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.f-icon {
  display: block;
  margin-left: 1300px;
  height: 50px;
  line-height: 50px;
}

.f-t {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 4px;
}

.f-reference {
  margin-top: 4px;
}

/*---------------- 阿卡萊地區介紹 ----------------*/
.top01 {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 14px;
  border: 5px solid black;
  background-color: white;
}

.top01-bg {
  /* background-image: url("../img/前端作業/阿卡萊圖.jpg"); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top01-bg video {
  width: 100%;
}

.videoAK2 {
  display: none;
}

.top01-title {
  position: absolute;
  right: 60px;
  top: 60px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  height: 110px;
}

.top01 p {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.top01 h3 {
  color: white;
  font-size: 66px;
  font-weight: bold;
  position: absolute;
  right: 160px;
  top: 112px;
}

.top01 .top01-h3 {
  font-size: 96px;
  position: absolute;
  right: 64px;
  top: 88px;
}

.top01 h2 {
  position: absolute;
  bottom: 150px;
  left: 120px;
  font-size: 26px;
  color: white;
  font-weight: bold;
  letter-spacing: 14px;
}

.top01 h1 {
  position: absolute;
  bottom: 20px;
  left: 100px;
  font-size: 120px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.main01 {
  width: 90%;
  margin: 0 auto;
  padding: 14px;
  border: 5px solid black;
  margin-top: 14px;
  background-color: white;
}

.main01-top {
  position: relative;
}

.main01 h2 {
  font-size: 60px;
  color: white;
  width: 62px;
  background-color: #b52222;
  text-align: center;
}

.main01-top-label {
  position: absolute;
  top: -20px;
  left: 30px;
}

.main01-top ul {
  display: flex;
  margin: 0 20px;
  margin-top: 40px;
}

.main01-top li {
  height: 30vw;
}

.main01 h3 {
  font-size: 44px;
  font-weight: bold;
}

.main01 p {
  font-size: 24px;
}

.main01-top h3 {
  margin-top: 80px;
  border-bottom: 4px solid #b52222;
}

.main01-top p {
  margin-top: 40px;
}

.main01-top-bg1 {
  width: 66%;
  background-image: url("../img/前端作業/阿卡萊-1-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main01-top-text1 {
  width: 34%;
}

.main01-top-text1 h3 {
  margin-left: 40px;
}

.main01-top-text1 p {
  margin-left: 40px;
}

.main01-top-text2 {
  width: 34%;
}

.main01-top-text2 h3 {
  margin-right: 40px;
}

.main01-top-text2 p {
  margin-right: 40px;
}

.main01-top-bg2 {
  width: 66%;
  background-image: url("../img/前端作業/阿卡萊-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main01-middle {
  margin-top: 40px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.main01-middle-1 {
  position: relative;
}

.main01-middle-label {
  position: absolute;
  top: -20px;
  right: 40px;
}

.main01-middle-label h2 {
  font-size: 40px;
  width: 48px;
}

.main01-middle ul {
  display: flex;
  margin: 0 20px;
  margin-top: 40px;
}

/* .main01-middle li {
  height: 480px;
} */

.main01-middle-text1 {
  width: 34%;
  position: relative;
}

.main01-middle-bg1 {
  width: 66%;
  background-image: url("../img/前端作業/一始村.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .main01-middle-h3 {
  position: absolute;
  top: 0;
  right: 10px;
} */

.main01-middle h3 {
  border-bottom: 4px solid #b52222;
  margin-right: 40px;
}

.main01-middle p {
  margin-top: 80px;
  margin-right: 40px;
  line-height: 1.4;
}

.main01-middle-2 {
  display: flex;
}

.main01-middle-ul2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main01-middle-ul3 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main01-middle-2 li {
}

.main01-middle-bg2 {
  width: 100%;
  height: 20vw;
  background-image: url("../img/前端作業/一始村2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main01-middle-2 p {
  margin: 0;
}

.main01-middle-bg3 {
  width: 100%;
  height: 20vw;
  background-image: url("../img/前端作業/一始村3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main01-bottom {
  margin-top: 40px;
}

.main01-bottom-title {
}

.main01-bottom-title {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  position: relative;
}

.icon {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 5px;
  background-size: 100%;
}

.left {
  left: 25vw;
  background-image: url("../img/標籤/icon-sword-left.png");
}

.right {
  right: 25vw;
  background-image: url("../img/標籤/icon-sword-righr.png");
}

.main01-bottom-title h3 {
  width: 80%;
  margin: 0 auto;
  height: 56px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 56px;
  margin-bottom: 20px;
}

.main01-bottom-title p {
  text-align: center;
  margin-bottom: 10px;
}

.main01-bottom-2 {
  width: 100%;
  display: flex;
}

.main01-bottom-video1 {
  width: 56%;
  margin-left: 40px;
}

.main01-bottom-video {
  width: 100%;
}

.main01-bottom-text {
  width: 44%;
  margin-left: 40px;
  position: relative;
}

.icon-vs {
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../img/標籤/icon-vs.png");
  background-size: 100%;
  left: 2.4vw;
  top: -0.5vw;
}

.main01-bottom-text ul {
  display: flex;
  flex-direction: column;
}

.bottom-text-li {
  position: relative;
  height: 66px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.bottom-text-li .bottom-text-p1 {
  position: absolute;
  left: 0;

  font-size: 42px;
  width: 80px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  height: 62px;
  line-height: 62px;
}

.bottom-text-li .bottom-text-p2 {
  position: absolute;
  top: 10px;
  right: 15vw;
  font-size: 46px;
  font-weight: bold;
}

.main01-bottom-text .bottom-text-p3 {
  background-color: #dd1515;
  width: 120px;
  font-size: 34px;
  color: white;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin: 20px auto;
}

.button {
  height: 60px;
  width: 92%;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

.but-left {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.but-left-a p {
  color: black;
  font-size: 24px;
  width: 120px;
  margin-left: 596px;
  margin-top: 20px;
}

.but-m {
  height: 60px;
  width: 4px;
  background-color: black;
}

.but-right-a p {
  color: black;
  font-size: 24px;
  width: 120px;
  margin-top: 20px;
}

.but-right {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: 480px;
}

.button {
  height: 120px;
  width: 92%;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

.button div {
  width: calc(50% - 1.5px);

  display: flex;
}

.butbg {
  background-size: 100%;
  background-position: center center;
}

.butbg.lbg {
  background-image: url("../img/前端作業/海拉魯圖.jpg");
  border-right: 2px solid black;
  opacity: 0.8;
}

.butbg.rbg {
  background-image: url("../img/前端作業/拉攝爾圖.jpg");
  border-left: 2px solid black;
  opacity: 0.8;
}

.but-left {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 1vw;
}

.but-left-a {
  color: white;
  font-weight: bold;
  font-size: 34px;
  width: 170px;
  margin-left: 28vw;
  margin-top: 46px;
}

.but-m {
  height: 60px;
  width: 4px;
  background-color: black;
}

.but-right {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 27vw;
}

.but-right-a {
  color: white;
  font-weight: bold;
  font-size: 34px;
  width: 170px;
  margin-top: 46px;
  margin-left: 3.2vw;
}

.butbg.lbg:hover {
  opacity: 1;
}

.butbg.rbg:hover {
  opacity: 1;
}

/*---------------- 海拉魯地區介紹 ----------------*/
/* .top01 {
  height: 660px;
  width: 90%;
  margin: 0 auto;
  padding: 14px;
  border: 5px solid black;
  background-color: white;
}

.top01-bg {
  background-image: url("../img/前端作業/阿卡萊圖.jpg");
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top01-title {
  position: absolute;
  right: 60px;
  top: 60px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  height: 110px;
}

.top01 p {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.top01 h3 {
  color: white;
  font-size: 66px;
  font-weight: bold;
  position: absolute;
  right: 160px;
  top: 112px;
}

.top01 .top01-h3 {
  font-size: 96px;
  position: absolute;
  right: 64px;
  top: 88px;
}

.top01 h2 {
  position: absolute;
  bottom: 150px;
  left: 120px;
  font-size: 26px;
  color: white;
  font-weight: bold;
  letter-spacing: 14px;
}

.top01 h1 {
  position: absolute;
  bottom: 20px;
  left: 100px;
  font-size: 120px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.main01 {
  width: 90%;
  margin: 0 auto;
  padding: 14px;
  border: 5px solid black;
  margin-top: 14px;
  background-color: white;
}

.main01-top {
  position: relative;
}

.main01 h2 {
  font-size: 60px;
  color: white;
  width: 62px;
  background-color: #b52222;
  text-align: center;
}

.main01-top-label {
  position: absolute;
  top: -20px;
  left: 30px;
}

.main01-top ul {
  display: flex;
  margin: 0 20px;
  margin-top: 40px;
}

.main01-top li {
  height: 480px;
}

.main01 h3 {
  font-size: 44px;
  font-weight: bold;
}

.main01 p {
  font-size: 24px;
}

.main01-top h3 {
  margin-top: 80px;
  border-bottom: 4px solid #b52222;
}

.main01-top p {
  margin-top: 40px;
}

.main01-top-bg1 {
  width: 66%;
  background-image: url("../img/前端作業/阿卡萊-1-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main01-top-text1 {
  width: 34%;
}

.main01-top-text1 h3 {
  margin-left: 40px;
}

.main01-top-text1 p {
  margin-left: 40px;
}

.main01-top-text2 {
  width: 34%;
}

.main01-top-text2 h3 {
  margin-right: 40px;
}

.main01-top-text2 p {
  margin-right: 40px;
}

.main01-top-bg2 {
  width: 66%;
  background-image: url("../img/前端作業/阿卡萊-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main01-middle {
  margin-top: 40px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.main01-middle-1 {
  position: relative;
}

.main01-middle-label {
  position: absolute;
  top: -20px;
  right: 40px;
}

.main01-middle-label h2 {
  font-size: 40px;
  width: 48px;
}

.main01-middle ul {
  display: flex;
  margin: 0 20px;
  margin-top: 40px;
}


.main01-middle-text1 {
  width: 34%;
  position: relative;
}

.main01-middle-bg1 {
  width: 66%;
  background-image: url("../img/前端作業/一始村.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.main01-middle h3 {
  border-bottom: 4px solid #b52222;
  margin-right: 40px;
}

.main01-middle p {
  margin-top: 80px;
  margin-right: 40px;
  line-height: 1.4;
}

.main01-middle-2 {
  display: flex;
}

.main01-middle-ul2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main01-middle-ul3 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main01-middle-2 li {
}

.main01-middle-bg2 {
  width: 100%;
  height: 300px;
  background-image: url("../img/前端作業/一始村2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main01-middle-2 p {
  margin: 0;
}

.main01-middle-bg3 {
  width: 100%;
  height: 300px;
  background-image: url("../img/前端作業/一始村3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main01-bottom {
  margin-top: 40px;
}

.main01-bottom-title {
}

.main01-bottom-title {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  position: relative;
}

.icon {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 5px;
  background-size: 100%;
}

.left {
  left: 25vw;
  background-image: url("../img/標籤/icon-sword-left.png");
}

.right {
  right: 25vw;
  background-image: url("../img/標籤/icon-sword-righr.png");
}

.main01-bottom-title h3 {
  width: 80%;
  margin: 0 auto;
  height: 56px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 56px;
  margin-bottom: 20px;
}

.main01-bottom-title p {
  text-align: center;
  margin-bottom: 10px;
}

.main01-bottom-2 {
  width: 100%;
  display: flex;
}

.main01-bottom-video1 {
  width: 56%;
  margin-left: 40px;
}

.main01-bottom-video {
  width: 100%;
}

.main01-bottom-text {
  width: 44%;
  margin-left: 40px;
  position: relative;
}

.icon-vs {
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../img/標籤/icon-vs.png");
  background-size: 100%;
  left: 2.4vw;
  top: -0.5vw;
}

.main01-bottom-text ul {
  display: flex;
  flex-direction: column;
}

.bottom-text-li {
  position: relative;
  height: 66px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.bottom-text-li .bottom-text-p1 {
  position: absolute;
  left: 0;

  font-size: 42px;
  width: 80px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  height: 62px;
  line-height: 62px;
}

.bottom-text-li .bottom-text-p2 {
  position: absolute;
  top: 10px;
  right: 15vw;
  font-size: 46px;
  font-weight: bold;
}

.main01-bottom-text .bottom-text-p3 {
  background-color: #dd1515;
  width: 120px;
  font-size: 34px;
  color: white;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin: 20px auto;
}

.button {
  height: 120px;
  width: 92%;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

.button div {
  width: calc(50% - 1.5px);

  display: flex;
}

.butbg {
  background-size: 100%;
  background-position: center center;
}

.butbg.lbg {
  background-image: url("../img/前端作業/海拉魯圖.jpg");
  border-right: 2px solid black;
  opacity: 0.8;
}

.butbg.rbg {
  background-image: url("../img/前端作業/拉攝爾圖.jpg");
  border-left: 2px solid black;
  opacity: 0.8;
}

.but-left {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 1vw;
}

.but-left-a {
  color: white;
  font-weight: bold;
  font-size: 34px;
  width: 170px;
  margin-left: 28vw;
  margin-top: 46px;
}

.but-m {
  height: 60px;
  width: 4px;
  background-color: black;
}

.but-right {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 27vw;
}

.but-right-a {
  color: white;
  font-weight: bold;
  font-size: 34px;
  width: 170px;
  margin-top: 46px;
  margin-left: 3.2vw;
}


.butbg.lbg:hover {
  opacity: 1;
}

.butbg.rbg:hover {
  opacity: 1;
} */
