@import url("./reset.css");

body {
  background-image: url("../img/背景圖2/sayagata-400px.png");
  a {
    text-decoration: none;
    display: block;
  }
}

/*---------------- top ----------------*/

/*---------------- main ----------------*/

.price {
  width: 70%;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 40px;
}

.price h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price p {
  font-size: 34px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 100px;
}

.price a {
  font-size: 44px;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: black;
  margin-left: 100px;
  margin-top: 20px;
}

.price ul {
  display: flex;
}

.price-ul {
  flex-direction: column;
  border-bottom: 2px solid black;
}

.price-ul ul {
  margin-bottom: 40px;
}

.price-ul h3 {
  font-size: 34px;
  width: 600px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
}

.price-ul p {
  margin-top: 10px;
  margin-left: 20px;
}

.price-bg1 {
  width: 600px;
  height: 300px;
  background-image: url("../img/前端作業/首頁.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-bg2 {
  width: 300px;
  height: 180px;
  background-image: url("../img/前端作業/商品2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-bg3 {
  width: 300px;
  height: 180px;
  background-image: url("../img/前端作業/天空圖.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-text h2 {
  width: 300px;
  font-size: 22px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.price-text-ul li h2 {
  background-color: black;
  color: white;
}
/* ---底部nav--- */
.bot-n {
  margin-top: 20px;
}

.bot-n ul {
  display: flex;
  box-shadow: 1px 1px 3px;
}

.bot-n li {
  height: 90px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(126, 126, 126);
  position: relative;
}

.nav {
  flex-grow: 1;
}

.bot-n-label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 34px;
  left: 42px;
  background-image: url("../icon/angles-right-solid-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav a {
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 90px;
  line-height: 90px;
}

.nav h3 {
  color: black;
  height: 78px;
}

.logo {
  background-repeat: no-repeat;
  width: 100px;
  flex-grow: 1.1;
}

.logo a {
  width: 100px;
}

.img-logo {
  width: 100px;
  height: 10%;
  padding-left: 30px;
}

/* hover */
.nav:hover h3 {
  color: red;
  font-weight: bold;
  border-bottom: 1px solid red;
}

.bot-n li:hover .bot-n-label {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

/*---------------- footer ----------------*/
.footer {
  height: 160px;

  background-color: rgb(154, 154, 154);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer p {
  color: white;
  line-height: 1.4;
}

.footer ul {
  display: flex;
}

.f-logo {
  background-image: url("../img/前端作業/new2-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.f-icon {
  display: block;
  margin-left: 1300px;
  height: 50px;
  line-height: 50px;
}

.f-t {
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.f-reference {
  margin-top: 4px;
}
