@import url("./reset.css");

body {
  /* background-image: url("../img/前端作業/角色背景.jpg"); */
  /* background-size: 100% 100%; */
  /* background-image: url("../img/背景圖2/link_bg.jpg"); */

  background-image: url("../img/背景圖2/sayagata-400px.png");
  a {
    text-decoration: none;
    display: block;
  }
}

/*---------------- top ----------------*/
.top {
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.top h1 {
  /* width: 420px;
  height: 66px; */
  line-height: 66px;
  font-size: 64px;
  font-weight: bold;
  color: white;
  /* text-align: center; */

  /* position: absolute; */
  /* top: 64px; */
  text-shadow: 1px 1px 5px black;
}

.toph1 {
  margin-top: 80px;
  margin-left: 10vw;
  position: absolute;
}

.top div {
  position: absolute;
  margin-left: 60vw;
  margin-top: 120px;
}

.top .top-text {
  font-size: 22px;
  line-height: 46px;
}

/* .top .top-text {
  width: 460px;
  left: -55px;
  font-size: 28px;
  top: 210px;
}

.top .top-text3 {
  width: 460px;
  left: 7px;
  font-size: 28px;
  top: 248px;
}

.top .top-text4 {
  width: 460px;
  left: -35px;
  font-size: 28px;
  top: 288px;
}

.top .top-text2 {
  width: 460px;
  left: -47px;
  top: 325px;
  font-size: 28px;
} */

/* .top-bg {
  width: 300px;
  height: 400px;
  background-image: url("../img/前端作業/能力圖7-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 340px;
} */

/*---------------- main ----------------*/
.main {
  overflow: hidden;
}

.main ul {
  transform: rotate(-5deg);
  margin-top: 140px;
  height: 1400px;
  position: relative;
}

.main h2 {
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  padding-top: 7vw;
}

.label {
  height: 20vw;
  width: 75vw;
  border: 1px solid black;
  position: absolute;
  transform: skew(-15deg);
  /* transition: transform 0.2s ease, top 0.2s ease, left 0.2s ease,
    border 0.2s ease, padding 0.2s ease; */
}

.labelBg {
  height: 20vw;
  width: 75vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.label.l1 {
  left: -10px;
  top: 0px;
}

/* .labelBg.b1 {
  background-image: url("../img/背景圖/究極手.png");
  background-position: bottom;

  background-size: auto 100%;
  background: url("../img/標籤/邊框.png") top right no-repeat,
    url("../img/標籤/邊框-3.png") bottom left no-repeat,
    url("../img/標籤/邊框-2.png") top left no-repeat,
    url("../img/標籤/邊框-4.png") bottom right no-repeat,
    url("../img/背景圖/究極手.png") center center no-repeat;
  background-color: blue;
} */

.labelBg.b1 {
  position: relative;
  background-image: url("../img/背景圖/究極手.png"),
    url("../img/前端作業/337307dec40922c6a6027f39f81fr0m5-removebg-preview.png"),
    url("../img/背景圖2/link_bg.jpg");
  background-position: 60% center, 30% center, left center;
  background-size: auto 80%, auto 100%, cover;
}

/* .labelBg.b1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/標籤/邊框.png") top right no-repeat,
    url("../img/標籤/邊框-3.png") bottom left no-repeat,
    url("../img/標籤/邊框-2.png") top left no-repeat,
    url("../img/標籤/邊框-4.png") bottom right no-repeat;
} */

.labelBg.b1 h2 {
  padding-left: 54vw;
}

.label.l2 {
  top: 21.2vw;
  right: -99px;
}

.labelBg.b2 {
  position: relative;
  background-image: url("../img/背景圖/餘料建造.png"),
    url("../img/背景圖/2643a524d387aa17b8dc5bb3951l9bj5-removebg-preview.png"),
    url("../img/背景圖2/link_bg.jpg");
  background-position: 40% center, 90% top, left center;
  background-size: auto 80%, auto 100%, cover;
}

.labelBg.b2 h2 {
  padding-left: 60px;
}

.label.l3 {
  top: 42.4vw;
  left: -70px;
}

.labelBg.b3 {
  position: relative;
  background-image: url("../img/背景圖/倒轉乾坤.png"),
    url("../img/前端作業/0f0fdb64a34c945b4acc4271581l9b55-removebg-preview.png"),
    url("../img/背景圖2/link_bg.jpg");
  background-position: 56% center, 20% center, left center;
  background-size: auto 70%, auto 100%, cover;
}

.labelBg.b3 h2 {
  padding-left: 50vw;
}

.label.l4 {
  top: 63.6vw;
  right: -45px;
}

.labelBg.b4 {
  position: relative;
  background-image: url("../img/背景圖/通天術.png"),
    url("../img/前端作業/a8f83a3d44d9cdaf724526287c1l9bu5-removebg-preview.png"),
    url("../img/背景圖2/link_bg.jpg");
  background-position: 40% center, 90% top, left center;
  background-size: auto 80%, auto 100%, cover;
}

.labelBg.b4 h2 {
  padding-left: 60px;
}

/* .video {
  width: 100%;
  height: 100%;
  background-size: 100%;
} */

/* hover */

.main li:hover h2 {
  text-shadow: 0px 0px 15px #d56636;
  font-size: 90px;
}

.main .l2:hover h2 {
  text-shadow: 0px 0px 15px #48b1a3;
  font-size: 90px;
}

.main .l3:hover h2 {
  text-shadow: 0px 0px 15px #dda244;
  font-size: 90px;
}

.main .l4:hover h2 {
  text-shadow: 0px 0px 15px #71a464;
  font-size: 90px;
}

.label.l1:hover {
  filter: drop-shadow(27px 27px black);
  top: -40px;
  left: -50px;
  border: 2.5px solid #d56636;
  padding: 10px;
}

.label.l2:hover {
  filter: drop-shadow(27px 27px black);
  top: calc(21.2vw - 40px);
  right: -83px;

  border: 2.5px solid #48b1a3;
  padding: 10px;
}

.label.l3:hover {
  filter: drop-shadow(27px 27px black);
  top: calc(42.4vw - 40px);
  left: -110px;

  border: 2.5px solid #dda244;
  padding: 10px;
}

.label.l4:hover {
  filter: drop-shadow(27px 27px black);
  top: calc(63.6vw - 40px);
  right: -25px;
  border: 2.5px solid #71a464;
  padding: 10px;
}

.label.l1:hover .b1 {
  background-image: url("../img/背景圖/究極手.png"),
    url("../img/前端作業/337307dec40922c6a6027f39f81fr0m5-removebg-preview.png"),
    url("../img/背景圖2/link_bg2.png");
}

.label.l2:hover .b2 {
  background-image: url("../img/背景圖/餘料建造.png"),
    url("../img/背景圖/2643a524d387aa17b8dc5bb3951l9bj5-removebg-preview.png"),
    url("../img/背景圖2/link_bg3-4.png");
}

.label.l3:hover .b3 {
  background-image: url("../img/背景圖/倒轉乾坤.png"),
    url("../img/前端作業/0f0fdb64a34c945b4acc4271581l9b55-removebg-preview.png"),
    url("../img/背景圖2/link_bg4-6.png");
}

.label.l4:hover .b4 {
  background-image: url("../img/背景圖/通天術.png"),
    url("../img/前端作業/a8f83a3d44d9cdaf724526287c1l9bu5-removebg-preview.png"),
    url("../img/背景圖2/link_bg5-1.png");
}
/* ---底部nav--- */
.nav-b {
  height: 60px;
}

.nav-be {
  height: 62px;
}
.bot-n {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.bot-n ul {
  display: flex;
  box-shadow: 1px 1px 3px;
}

.bot-n ul li:nth-child(5) a {
  border-bottom: 3px solid red;
}

.bot-n ul li:nth-child(5) div {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

.bot-n ul li:nth-child(5) a h3 {
  color: red;
}

.bot-n li {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(126, 126, 126);
  position: relative;
}

.nav {
  flex-grow: 1;
}

.bot-n-label {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 42px;
  background-image: url("../icon/angles-right-solid-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav a {
  font-size: 18px;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 59px;
  line-height: 59px;
}

.nav h3 {
  color: black;
  height: 59px;
}

.logo {
  /* background-image: url("../img/前端作業/new2-removebg-preview.png"); */
  background-repeat: no-repeat;
  width: 100px;
  flex-grow: 1.1;
}

.logo a {
  width: 100px;
}

.img-logo {
  width: 90px;
  height: 59px;
  padding-left: 30px;
}

/* hover */
.nav:hover h3 {
  color: red;
  font-weight: bold;
}

.bot-n li:hover .bot-n-label {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

/*---------------- footer ----------------*/
.footer {
  height: 136px;
  /* margin-top: 60px; */
  background-color: rgb(154, 154, 154);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer p {
  color: white;
  line-height: 1.1;
}

.footer ul {
  display: flex;
}

.f-logo {
  background-image: url("../img/前端作業/new2-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.f-icon {
  display: block;
  margin-left: 1300px;
  height: 50px;
  line-height: 50px;
}

.f-t {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 4px;
}

.f-reference {
  margin-top: 4px;
}

/*---------------- 究極手介紹 ----------------*/
.skill1topH3 {
  display: none;
}

.skill1topH3-2 {
  display: none;
}

.skill1-top {
  width: 80%;
  height: 36vw;
  margin: 40px auto;
  padding: 20px 0;
  background-image: url("../img/背景圖/p0025_l.jpg");
  display: flex;
}

.skill1-top div {
  height: 100%;
  width: calc(100% - 40px);
  /* background-image: url("../img/前端作業/究極手介紹4.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-left: 1.5vw; */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.sk {
  width: 100%;
}

.skill1-top h1 {
  position: absolute;
  top: 0;
}

.skill1-top h2 {
  position: absolute;
  top: 13vw;
}

.skill1-top h1 {
  font-size: 72px;
  font-weight: bold;
  color: white;
  padding: 40px;
  text-shadow: 0px 0px 15px #d56636;
}

.skill1-top h2 {
  font-size: 34px;
  font-weight: bold;
  color: white;
  padding-top: 19vw;
  padding-left: 1vw;
}

.skill1-main {
  width: 80%;
  margin: 20px auto;
  display: flex;
}

.skill1-video {
  margin-right: 40px;

  width: 50%;
  padding: 20px;
  background-image: url("../img/背景圖/p0025_l.jpg");
  height: 340px;
}

.skill1-video iframe {
  width: 100%;
}

.skill1-right {
  width: 50%;
  padding: 20px;
  background-image: url("../img/背景圖/p0025_l.jpg");
  height: 340px;
}

.skill1-right-bg {
  background-image: url("../img/前端作業/究極手介紹2.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: bottom;
}

.skill1-bottom {
  display: flex;
  width: 80%;
  margin: 10px auto;
  line-height: 1.3;
}

.skill1-bottom p {
  width: 45%;
  font-size: 24px;
  color: black;
}

.skill1-bottom-p {
  /* margin: 0 20px; */
  margin-right: 80px;
}

/*-------------- ---- skill-nav ------------------ */

.skill-nav {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  margin-top: 80px;

  margin-bottom: 40px;
}

.skill-nav > div {
  flex: 1;
}

.skill-nav div {
  margin-right: 5vw;
}

.skill-nav img {
  object-fit: cover;
  width: 9.8vw;
  height: 9.8vw;
  opacity: 1; /* 初始設置所有圖片正常顯示 */
  transition: opacity 0.3s ease; /* 平滑過渡不透明度 */
}

.nav.n2 img {
  width: 7.2vw;
}

.skill-nav .nd4 {
  margin-right: 0;
}

.skill-nav a {
  display: flex;
}

.skill-nav a img {
  margin: 0 auto;
}

/* .skill-nav .n1 {
  box-shadow: 0.1px 0.1px 10px rgb(178, 25, 25);

  display: flex;
  background: url("../img/背景圖2/link_bg2-1.png");
}

.skill-nav .n1 img {
  margin: 0 auto;
} */

/* hover */
/* .skill-nav a :hover {
  outline: 3px solid red;
} */
