/*---------------- 漢堡nav ----------------*/
@media screen and (max-width: 750px) {
  .hamicon {
    display: block;
  }

  .nav-be {
    display: none;
  }
}

/*---------------- top ----------------*/

@media screen and (max-width: 1100px) {
  .top div {
    margin-left: 54vw;
  }
}

@media screen and (max-width: 950px) {
  .top div {
    margin-left: 50vw;
  }
  .top .toph1 {
    font-size: 52px;
  }

  .top .top-text {
    margin-right: 3vw;
  }
}

@media screen and (max-width: 900px) {
  .top div {
    margin-left: 46vw;
  }
  .top .toph1 {
    font-size: 50px;
  }

  .top .top-text {
    margin-right: 3vw;
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  .top {
    margin-bottom: 6vw;
  }

  .top h1 {
    font-size: 46px;
    margin-left: 3vw;
  }
  .top div {
    margin-top: 130px;
    margin-left: 40vw;
  }

  .top .top-text {
    /* width: 460px; */
    left: -55px;
    font-size: 20px;
    top: 210px;
    margin-right: 3vw;
  }
  .top .top-text3 {
    width: 460px;
    left: 7px;
    font-size: 26px;
    top: 248px;
  }
  .top .top-text4 {
    width: 460px;
    left: -35px;
    font-size: 26px;
    top: 288px;
  }

  .top .top-text2 {
    width: 460px;
    left: -47px;
    top: 325px;
    font-size: 26px;
  }
}

@media screen and (max-width: 700px) {
  .top div {
    margin-left: 3vw;
    margin-top: 150px;
  }
  .top .toph1 {
  }

  .top .top-text {
  }
}

@media screen and (max-width: 600px) {
  .top {
    margin-bottom: 14vw;
  }

  .top h1 {
    font-size: 36px;
  }

  .top .top-text {
    font-size: 18px;
  }
  .top .top-text3 {
    width: 460px;
    left: -8px;
    font-size: 21px;
    top: 248px;
  }
  .top .top-text4 {
    width: 460px;
    left: -39px;
    font-size: 21px;
    top: 288px;
  }

  .top .top-text2 {
    width: 460px;
    left: -50px;
    top: 325px;
    font-size: 21px;
  }
}

@media screen and (max-width: 431px) {
  .top {
  }
  .top h1 {
  }

  .toph1 {
    margin-top: 50px;
  }

  .top .top-text {
    font-size: 18px;
  }

  .top div {
    margin-top: 110px;
    margin-left: 4vw;
  }
}

/*---------------- main ----------------*/

@media screen and (max-width: 1400px) {
  .main h2 {
    font-size: 70px;
  }

  .main li:hover h2 {
    font-size: 78px;
  }

  .main .l2:hover h2 {
    font-size: 78px;
  }

  .main .l3:hover h2 {
    font-size: 78px;
  }

  .main .l4:hover h2 {
    font-size: 78px;
  }
}

@media screen and (max-width: 1300px) {
  .main ul {
    margin-top: 140px;
    height: 1600px;
  }
}

@media screen and (max-width: 1200px) {
  .main h2 {
    font-size: 64px;
  }

  .main ul {
    margin-top: 130px;
    height: 1460px;
  }

  .main li:hover h2 {
    font-size: 70px;
  }

  .main .l2:hover h2 {
    font-size: 70px;
  }

  .main .l3:hover h2 {
    font-size: 70px;
  }

  .main .l4:hover h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1100px) {
  .main h2 {
    font-size: 58px;
  }

  .main ul {
    margin-top: 120px;
    height: 1390px;
  }

  .main li:hover h2 {
    font-size: 64px;
  }

  .main .l2:hover h2 {
    font-size: 64px;
  }

  .main .l3:hover h2 {
    font-size: 64px;
  }

  .main .l4:hover h2 {
    font-size: 64px;
  }
}

@media screen and (max-width: 1000px) {
  .main h2 {
    font-size: 54px;
  }

  .main li:hover h2 {
    font-size: 60px;
  }

  .main .l2:hover h2 {
    font-size: 60px;
  }

  .main .l3:hover h2 {
    font-size: 60px;
  }

  .main .l4:hover h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .main ul {
    margin-top: 110px;
    height: 1300px;
  }
}

@media screen and (max-width: 900px) {
  .main h2 {
    font-size: 46px;
  }

  .main ul {
    margin-top: 100px;
    height: 1160px;
  }

  .main li:hover h2 {
    font-size: 50px;
  }

  .main .l2:hover h2 {
    font-size: 50px;
  }

  .main .l3:hover h2 {
    font-size: 50px;
  }

  .main .l4:hover h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 800px) {
  .main ul {
    margin-top: 88px;
    height: 820px;
  }

  .main h2 {
    font-size: 40px;
  }

  .main li:hover h2 {
    font-size: 44px;
  }

  .main .l2:hover h2 {
    font-size: 44px;
  }

  .main .l3:hover h2 {
    font-size: 44px;
  }

  .main .l4:hover h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: 750px) {
  .label {
    height: 40vw;
    width: 95vw;
  }

  .main ul {
    margin-top: 88px;
    height: 1400px;
  }

  .labelBg {
    height: 40vw;
    width: 95vw;
  }

  .label.l1 {
    left: 74px;
  }

  .label.l2 {
    top: 43vw;
    left: 46px;
  }

  .label.l3 {
    top: 86vw;
    left: 18px;
  }

  .label.l4 {
    top: 129vw;
    left: -10px;
  }

  .label.l1:hover {
    filter: drop-shadow(0px 0px black);
    /* top: -25px; */
    left: 25px;
  }

  .label.l2:hover {
    filter: drop-shadow(0px 0px black);
    top: calc(33vw - -28px);
    left: -5px;
  }

  .label.l3:hover {
    filter: drop-shadow(0px 0px black);
    top: calc(68vw - -78px);
    left: -14px;
  }

  .label.l4:hover {
    filter: drop-shadow(0px 0px black);
    top: calc(104vw - -134px);
    left: -33px;
  }

  .ma {
    height: 40vw;
    width: 95vw;
    position: absolute;
    z-index: 10;
    top: 0;
  }

  .main h2 {
    padding-top: 6vw;
    font-size: 66px;
  }

  .main li:hover h2 {
    font-size: 70px;
  }

  .main .l2:hover h2 {
    font-size: 70px;
  }

  .main .l3:hover h2 {
    font-size: 70px;
  }

  .main .l4:hover h2 {
    font-size: 70px;
  }

  .labelBg.b1 {
    background-image: url("../img/背景圖/究極手.png"),
      url("../img/前端作業/337307dec40922c6a6027f39f81fr0m5-removebg-preview.png"),
      url("../img/背景圖2/link_bg.jpg");
    background-position: 72% center, 30% center, left center;
    background-size: auto 80%, auto 100%, cover;
  }

  .labelBg.b2 {
    background-image: url("../img/背景圖/餘料建造.png"),
      url("../img/背景圖/2643a524d387aa17b8dc5bb3951l9bj5-removebg-preview.png"),
      url("../img/背景圖2/link_bg.jpg");
    background-position: 32% center, 180% top, left center;
    background-size: auto 80%, auto 100%, cover;
  }

  .labelBg.b3 {
    background-image: url("../img/背景圖/倒轉乾坤.png"),
      url("../img/前端作業/0f0fdb64a34c945b4acc4271581l9b55-removebg-preview.png"),
      url("../img/背景圖2/link_bg.jpg");
    background-position: 66% center, -40% center, left center;
    background-size: auto 70%, auto 100%, cover;
  }

  .labelBg.b4 {
    background-image: url("../img/背景圖/通天術.png"),
      url("../img/前端作業/a8f83a3d44d9cdaf724526287c1l9bu5-removebg-preview.png"),
      url("../img/背景圖2/link_bg.jpg");
    background-position: 34% center, 158% top, left center;
    background-size: auto 80%, auto 100%, cover;
  }

  .label h2 {
    width: 90px;
  }

  .labelBg.b1 h2 {
    padding-left: 78vw;
  }

  .labelBg.b2 h2 {
    padding-top: 2vw;
  }

  .labelBg.b3 h2 {
    padding-left: 78vw;
    padding-top: 2vw;
  }

  .labelBg.b4 h2 {
    /* padding-left: 78vw; */
  }
}

@media screen and (max-width: 700px) {
  .main h2 {
    font-size: 60px;
  }

  .main li:hover h2 {
    font-size: 64px;
  }

  .main .l2:hover h2 {
    font-size: 64px;
  }

  .main .l3:hover h2 {
    font-size: 64px;
  }

  .main .l4:hover h2 {
    font-size: 64px;
  }
}

@media screen and (max-width: 630px) {
  .main h2 {
    font-size: 56px;
  }

  .main li:hover h2 {
    font-size: 60px;
  }

  .main .l2:hover h2 {
    font-size: 60px;
  }

  .main .l3:hover h2 {
    font-size: 60px;
  }

  .main .l4:hover h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .main h2 {
    font-size: 50px;
  }

  .main li:hover h2 {
    font-size: 54px;
  }

  .main .l2:hover h2 {
    font-size: 54px;
  }

  .main .l3:hover h2 {
    font-size: 54px;
  }

  .main .l4:hover h2 {
    font-size: 54px;
  }
}

@media screen and (max-width: 630px) {
  .main ul {
    margin-top: 88px;
    height: 1200px;
  }
}

@media screen and (max-width: 550px) {
  .main ul {
    margin-top: 88px;
    height: 1040px;
  }
}

@media screen and (max-width: 431px) {
  .label.l1:hover {
    filter: drop-shadow(0px 0px black);
    top: 0px;
    left: 30px;
    padding: 0px;
  }
  .label.l2:hover {
    filter: drop-shadow(0px 0px black);
    top: 43vw;
    left: 14px;
    padding: 0px;
  }

  .label.l3:hover {
    filter: drop-shadow(0px 0px black);
    top: 86vw;
    left: -3px;
    padding: 0px;
  }
  .label.l4:hover {
    filter: drop-shadow(0px 0px black);
    top: 129vw;
    left: -19px;
    padding: 0px;
  }

  .main ul {
    margin-top: 24px;
    height: 770px;
  }

  .label.l1 {
    left: 30px;
  }

  .label.l2 {
    top: 43vw;
    left: 14px;
  }

  .label.l3 {
    top: 86vw;
    left: -3px;
  }

  .label.l4 {
    top: 129vw;
    left: -19px;
  }

  .main h2 {
    font-size: 47px;
  }

  .main li:hover h2 {
    font-size: 48px;
  }
  .labelBg.b2 h2 {
    padding-left: 197px;
  }

  .labelBg.b4 h2 {
    padding-left: 232px;
  }

  .main h2 {
    font-size: 34px;
    width: 50px;
  }

  .main li:hover h2 {
    font-size: 46px;
  }

  .main .l2:hover h2 {
    font-size: 46px;
  }

  .main .l3:hover h2 {
    font-size: 46px;
  }

  .main .l4:hover h2 {
    font-size: 46px;
  }

  .labelBg.b1 h2 {
    padding-left: 78vw;
  }

  .labelBg.b2 h2 {
    padding-top: 2vw;
    padding-left: 8vw;
  }

  .labelBg.b3 h2 {
    padding-left: 78vw;
    padding-top: 2vw;
  }

  .labelBg.b4 h2 {
    padding-left: 8vw;
  }

  .skill1-top h1 {
    font-size: 35px;
    top: -30px;
  }

  .skill1-main {
    flex-direction: column;
  }

  .skill1-video {
    width: 90%;
    margin-bottom: 300px;
  }

  .skill1-right {
    width: 90%;
  }

  .skill1-bottom {
    flex-direction: column;
  }

  .skill1-bottom p {
    width: 80%;
    font-size: 18px;
  }

  .skill1-bottom .p-2 {
    width: 100%;
  }

  .skill1-bottom-p {
    position: absolute;
    top: 624px;
  }

  .skill1-video iframe {
    height: 40vw;
  }

  .skill1-video {
    height: 41vw;
    margin-bottom: 175px;
  }

  .skill1-right-bg {
    height: 40vw;
    background-position: center center;
  }

  .skill1-right {
    height: 41vw;
  }
  .skill-nav {
    /* flex-wrap: wrap; */
  }

  .skill-nav {
    width: 247px;
    height: 132px;
  }
}

@media screen and (max-width: 900px) {
  .skill1-top h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) {
  .skill1-top h1 {
    font-size: 48px;
  }

  .skill1-top h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  .skill1-top h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .skill1-top h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .skill1-top h1 {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .skill1-top h2 {
    font-size: 17px;
  }
}

@media screen and (max-width: 431px) {
  .skill1-top {
    margin-top: 12px;
  }

  .skill1-top h1 {
    display: none;
  }

  .skill1-top h2 {
    display: none;
  }

  .skill1topH3 {
    display: block;
    padding-top: 60px;
    margin-left: 7vw;
    font-size: 32px;
    color: #d56636;
    text-shadow: 0px 0px 15px #d56636;
  }

  .skill1topH3-2 {
    display: block;
    margin-top: 12px;
    margin-left: 7vw;
  }
}
@media screen and (max-width: 900px) {
  .skill1-main {
    flex-direction: column;
  }

  .skill1-video {
    margin-right: 0;
    width: 90%;
    margin-bottom: 18px;
  }

  .skill1-right {
    width: 90%;
  }

  .skill1-bottom {
    flex-direction: column;
  }

  .skill1-bottom p {
    width: 80%;
    font-size: 18px;
  }

  .skill1-bottom .p-2 {
    width: 100%;
  }

  .skill1-bottom-p {
    display: none;
  }

  .skill1-video iframe {
    height: 40vw;
  }

  .skill1-video {
    height: 41vw;
  }

  .skill1-right-bg {
    height: 40vw;
    background-position: center center;
  }

  .skill1-right {
    height: 41vw;
  }

  .skill1-videoP {
    margin-bottom: 30px;
    width: 95%;
  }
}

@media screen and (max-width: 431px) {
  .skill-nav img {
    width: 16vw;
    height: 16vw;
  }

  .nav.n2 img {
    width: 12vw;
  }

  .skill-nav {
    width: 80vw;
    margin: 0 auto;
    margin-top: 80px;

    margin-bottom: 0px;
  }

  .skill1-top div {
    height: 100%;
    width: 90%;
  }

  .skill1-top {
    width: 100%;
    height: 100%;
  }
}
