@import url("./reset.css");

body {
  background-image: url("../img/背景圖2/sayagata-400px.png");
  a {
    text-decoration: none;
    display: block;
  }
}

/*---------------- 漢堡nav ----------------*/

/* icon */

.hamicon {
  position: fixed;
  width: 75px;
  height: 75px;
  z-index: 499;
  right: 0;
  top: 0;
  background: url("../img/標籤/漢堡.png");
  background-size: 75px 75px;
  cursor: pointer;
  border: none;
  display: none;
}

.hamicon.i2 {
  background: url("../img/標籤/colse.png");
  position: fixed;
  width: 75px;
  height: 75px;
  z-index: 500;
  right: 0;
  top: 0;
  background-size: 75px 75px;
  cursor: pointer;
  border: none;
  display: none;
}

/*--------- 內容選單區 ---------*/

.hamburger {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  z-index: 20;
  box-sizing: border-box;
  background: url("../img/背景圖2/漢堡bg.jpg");
  display: none;
}

.ham-bor {
  height: calc(100% - 40px);
  padding: 80px 14px 70px 14px;
  background-color: antiquewhite;
}

.ham-nav {
  height: calc(100% - 40px);
  padding: 12px 40px 62px 40px;
  background: url("../img/標籤/邊框.png") top right no-repeat,
    url("../img/標籤/邊框-3.png") bottom left no-repeat,
    url("../img/標籤/邊框-2.png") top left no-repeat,
    url("../img/標籤/邊框-4.png") bottom right no-repeat;
}

.ham-Logo {
  width: 100%;
  height: 22%;
  text-align: center;
}

.ham-Logo img {
  width: 150px;
  height: 100%;
}

.ham-bor {
  background: url("../img/背景圖2/漢堡nav-2.png") top left no-repeat,
    url("../img/背景圖2/漢堡nav.png") bottom left no-repeat;
}

.ham-nav ul {
  width: 100%;
  height: 78%;
  display: flex;
  flex-direction: column;
}

.ham-li {
  width: 100%;
  flex-grow: 1;
  position: relative;
  border-bottom: 1px solid black;
}

.ham-a {
  padding: 10px 10px 10px 0;
  height: calc(100% - 20px);
}

.ham-a::before {
  content: "";
  display: block;
  background: url("../img/標籤/箭頭黑.png");
  height: 14px;
  margin-right: 10px;
  background-repeat: no-repeat;
  position: relative;
  top: 20px;
}

.ham-a h1 {
  font-size: 28px;
  margin-left: 22px;
  color: #4b74c4;
}

/* hover */

.hamicon:hover {
  background-image: url("../img/標籤/漢堡hover-2.png");
  transition: 0.3s;
}

.hamicon.i2:hover {
  background-image: url("../img/標籤/close-hover.png");
  transition: 0.3s;
}

/*---------------- top ----------------*/
.top {
  height: 660px;
  background-image: url("../img/前端作業/災厄圖.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top-title {
  border: 5px double white;
  background-color: black;
  z-index: 5;
  width: 460px;
  box-shadow: 5px 5px 5px gray;
  opacity: 90%;
  position: absolute;
  top: 80px;
}

.top h1 {
  text-align: center;
  font-size: 44px;
  color: white;
}

.top-text {
  position: absolute;

  top: 320px;
  margin-left: 100px;
}

.top p {
  font-size: 23px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  line-height: 1.4;
}

.p-1 {
  width: 530px;
}

.p-2 {
  width: 690px;
}

.p-3 {
  width: 400px;
}

.p-4 {
  width: 520px;
}
.p-5 {
  width: 310px;
}

.p-6 {
  width: 770px;
}

/*---------------- main ----------------*/
.main {
  width: 100%;
  position: relative;
}

.main-title {
  position: absolute;
  z-index: 2;
  top: 10px;
  width: 260px;
  border: 5px double white;
  background-color: black;
  box-shadow: 5px 5px 5px gray;
  opacity: 90%;
}

.main-title h1 {
  text-align: center;
  font-size: 44px;
  color: white;
}

.main ul {
  display: flex;
  width: 100%;
}

.main li {
  height: 600px;
  background-size: cover;
  border: 0.8px solid white;
  background-position: center center;
  transition: 0.7s;
}

.character-1 {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  flex-grow: 1;
  background-image: url("../img/前端作業/薩爾達.png");
}

.character-2 {
  flex-grow: 1;
  background-image: url("../img/前端作業/林克.png");
}

.character-3 {
  flex-grow: 1;
  background-image: url("../img/前端作業/加農多夫.png");
}

.main a {
  margin: 0 auto;
  color: white;
  font-size: 24px;
}

.main p {
  margin-top: 570px;
  text-align: center;
}
/* hover */

.main li:hover {
  flex-grow: 2;
}

/* ---底部nav--- */

.nav-b {
  height: 60px;
}
.bot-n {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.bot-n ul {
  display: flex;
  box-shadow: 1px 1px 3px;
}

.bot-n ul li:nth-child(2) a {
  border-bottom: 3px solid red;
}

.bot-n ul li:nth-child(2) div {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

.bot-n ul li:nth-child(2) a h3 {
  color: red;
}

.bot-n li {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(126, 126, 126);
  position: relative;
}

.nav {
  flex-grow: 1;
}

.bot-n-label {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 42px;
  background-image: url("../icon/angles-right-solid-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav a {
  font-size: 18px;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 59px;
  line-height: 59px;
}

.nav h3 {
  color: black;
  height: 59px;
}

.logo {
  /* background-image: url("../img/前端作業/new2-removebg-preview.png"); */
  background-repeat: no-repeat;
  width: 100px;
  flex-grow: 1.1;
}

.logo a {
  width: 100px;
}

.img-logo {
  width: 90px;
  height: 59px;
  padding-left: 30px;
}

/* hover */
.nav:hover h3 {
  color: red;
  font-weight: bold;
}

.bot-n li:hover .bot-n-label {
  background-image: url("../icon/angles-rightred-solid-removebg-preview.png");
}

/*---------------- footer ----------------*/
.footer {
  height: 136px;
  /* margin-top: 60px; */
  background-color: rgb(154, 154, 154);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer p {
  color: white;
  line-height: 1.1;
}

.footer ul {
  display: flex;
}

.f-logo {
  background-image: url("../img/前端作業/new2-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.f-icon {
  display: block;
  margin-left: 1300px;
  height: 50px;
  line-height: 50px;
}

.f-t {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 4px;
}

.f-reference {
  margin-top: 4px;
}

/*---------------- 彈出視窗的角色介紹部分 ----------------*/

/*---------------- 林克 ----------------*/
.character-main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../img/前端作業/角色背景.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.character-main-title {
  position: absolute;
  z-index: 2;
  top: 18vw;
  left: 25vw;
  width: 240px;
  border: 5px double white;
  background-color: black;
  box-shadow: 5px 5px 5px gray;
}

.character-main-title h1 {
  text-align: center;
  font-size: 44px;
  color: white;
}

.character-text {
  position: absolute;
  top: 30vw;
  left: 26vw;
}

.character-text p {
  font-size: 24px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* .left-img {
  position: absolute;
  opacity: 62%;
  left: 70px;
  width: 1100px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/前端作業/林克-removebg-preview.png");
} */

.left-img {
  position: absolute;
  opacity: 62%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;

  background-image: url("../img/前端作業/林克-removebg-preview.png");
}

/* .right-img {
  position: absolute;
  right: 15vw;
  top: 14vw;
  width: 32vw;
  height: 40vw;
  background-image: url("../img/前端作業/林克-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
} */

.right-img {
  position: absolute;
  right: 15vw;
  top: 10vw;
  width: 38%;
  height: 36vw;
}

.bg {
  height: 100%;
  background-image: url("../img/前端作業/林克-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.c-p-1 {
  width: 280px;
}

.c-p-2 {
  width: 400px;
}

/*---------------- 薩爾達 ----------------*/
.character2-main {
  width: 100%;
  height: 730px;
  position: relative;
  background-image: url("../img/前端作業/角色背景.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.character2-main-title {
  position: absolute;
  z-index: 2;
  top: 280px;
  right: 390px;
  width: 240px;
  border: 5px double white;
  background-color: black;
  box-shadow: 5px 5px 5px gray;
}

.character2-main-title h1 {
  text-align: center;
  font-size: 44px;
  color: white;
}

.character2-text {
  position: absolute;
  top: 440px;
  right: 220px;
}

.character2-text p {
  font-size: 24px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  line-height: 1.4;
}

.left2-img {
  position: absolute;
  opacity: 68%;
  left: 60px;
  width: 1400px;
  height: 1200px;
  top: -180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/前端作業/薩爾達-removebg-preview.png");
}

.right2-img {
  position: absolute;
  left: 420px;
  top: 140px;
  width: 560px;
  height: 560px;
  background-image: url("../img/前端作業/薩爾達-removebg-preview.png");
  background-repeat: no-repeat;
}

.c2-p-1 {
  width: 420px;
}

.c2-p-2 {
  width: 380px;
}
